<div class= "col-md-6 text-left">
    <h1>{{toy.name}}</h1>
</div>
<div class="col-md">
    <div class="row">
        <div id="carouselPhotosControls" class="carousel slide col-sm-5" data-ride="carousel">
            <div class="carousel-inner">
                {{#each photos}}
                    <div class="carousel-item {{#if defaultPhoto}}active{{/if}}">
                        <img class="d-block w-100 rounded" src="/img{{../toy._id}}/{{this.path}}" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3></h3>
                            <p></p>
                        </div>
                    </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev" href="#carouselPhotosControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselPhotosControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="text-left col-sm-6 ">
            <h6>Возраст</h6>
            <p>{{toy.nameAge}}</p>
            <h6>Описание</h6>
            <p>{{toy.description}}</p>
            <h6>Размер упаковки</h6>
            <p>{{toy.length}}x{{toy.width}}x{{toy.height}} мм.
            </p>
            <h6>Вес</h6>
            <p>{{toy.weight}} гр.
            </p>
            <h6>Цена</h6>
            <p>{{toy.price}} руб. 
                <span class = "increaseIntoCart" value ="{{toy.id}}"><img src="/img/icons/cart.png" width="32px" height="32px"></span>
                <span class="toyQuantity">{{#if toy.quantity}} x {{/if}}{{toy.quantity}}</span>
            </p>
        </div>
    </div>
</div>

